<header class="banner bannner-principal">
   
    <div class="barra">
        <a href="index.html" class="logo">
            <h1 class="logo-texto centrar-texto texto-normal no-margin">Profaco<span class="texto-bold">GT</span></h1>
        </a>
        <nav>
            <ul class="menu" style="font-size: 22px;">
                <li><a class="link" (click)="regresar()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a></li>
                
                
            </ul>
        </nav>

    </div>
    <!-- <div class="header__texto centrar-texto">
        <h2 class="no-margin">Laboratorio Profaco S.A.</h2>
        <p class="no-margin">Laboratorio farmacéutico en Zona 3 de Mixco <br> Lomas de Cotio, 15 Avenida 9-46, Guatemala</p>
    </div> -->


</header>

<main>

  
    <!-- inicio muestra productos -->
 
    <!-- fin muestra productos -->

</main>
<footer class="footer section">
    <div class="contenedor">
        <div class="barra">
            <a href="index.html">
                <h1 class="centrar-texto logo__nombre">Profaco<span class="logo__bold">GT</span></h1>
            </a>
            <nav>
                <ul class="menu">
                    <li><a class="link" (click)="informacion()">¿Quiénes somos?</a></li>
                    <li><a class="link" (click)="regresar()"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon></a></li>
                   
                </ul>
            </nav>
        </div>
    </div>
</footer>