.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 80%;
    padding: 80px 30px;
    box-sizing: border-box;
     background: #ffffff;  
     border-radius: 5%;
}

mat-label{
    color: black;
}

mat-form-field{
    color: black;
}