        <div class="row">
            
            <!-- Modal para actualizar datos-->
            <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        
                    </div>
                </div>
            </div>

             <!-- Modal para agregar nuevos datos datos-->
            <div class="col-md-5">

                <!-- bs5-card-head-foot, es una tarjeta de presentacion -->
                <div class="card">
                    <div class="card-header">
                        Detalles venta
                    </div>
                    <div class="card-body">
                        
                       
                         
                            <h2>Detalles pedido {{data.no_pedido}} </h2>
                            <h3>Fecha realizacion {{data.fecha_pedido | date: 'dd/MM/YYYY' }}</h3>
                                

                                  <h3 style=>Estado: {{data.estado_pedido}}</h3>
                      

                     
                                  <h3>Nombre: {{data.nombre}}</h3>
                            
                                  <h3>Telefono: {{data.telefono}}</h3>
                            
                                  <h3>correo: {{data.email}}</h3>
                              
                                 <h3>Direccion: {{data.direccion}}</h3>
                       
                                <h3>Departamento: {{data.departamento}}</h3>
                           

                   
                       
                          
                          <input type="submit" class="btn btn-danger" (click)="cerrardetalles()" value="cerrar" style="align-self: right;">
                    </div>
                </div>

            </div>
            <div class="col-md-7">
                <!-- bs5-table-defaul, es para agregar tabla al formulario-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>PRODUCTO</th>
                            <th>CANTIDAD</th>
                        </tr>
            
                    </thead>
                    <tbody id="productos">
                        <tr *ngFor="let contenido of contenidopedido" >

                          <td *ngIf="contenido.no_pedido == data.no_pedido"><div *ngFor="let producto of productos"><div *ngIf="contenido.producto == producto.codigo_producto">{{producto.nombre_producto}}</div></div></td>
                          <td *ngIf="contenido.no_pedido == data.no_pedido">{{contenido.cantidad}}</td>
                       
                        </tr>
                    </tbody>
                </table>
               
            </div>
        </div>