  [hidden] {
    display: none;
  }
  
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: none;
    background-color: #000;
    height: 40rem;
  }
  @media (min-width: 992px) {
    .banner {
      height: 80rem;
    }
  }
  
  @media (min-width: 768px) {
    .bannner-principal {
     background-image: url("src/assets/img/profacologo.png");
      background-position: center right;
    }
  
    .banner-catalogo {
     /* background-image: url(assets/img/chainsawmanbanner.webp);*/
      background-position: center center;
    }
  
    .banner-oferta {
      /*background-image: url(assets/img/jujutsuBanner.webp);*/
      background-position: center right;
    }
  }
  .barra {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #138bc8;
    padding: 2rem;
  }
  .barra .logo .logo-texto {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .barra .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100%;
  }
  .barra .menu .link {
    margin-right: 2rem;
  }
  .barra .form {
    display: flex;
    margin-top: 2rem;
    border-radius: 0.2rem;
    background-color: #fff;
    width: 30rem;
    height: 3rem;
  }
  .barra .form input {
    border-radius: 1rem;
    width: 100%;
    border: none;
  }
  .barra .form input:focus-visible {
    outline: none;
  }
  .barra .form button {
    border: none;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .barra .form {
      margin-top: 0;
    }
  }
  
  @media (min-width: 768px) {
    .barra {
      flex-direction: row;
      justify-content: space-evenly;
    }
    .barra .logo {
      padding: 1rem;
    }
  }
  .header__texto {
    margin-top: 2rem;
    color: #000;
    background-color: #fff;
    padding: 1rem 0;
  }
  @media (min-width: 768px) {
    .header__texto {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  
  @media (min-width: 768px) {
    .header__texto {
      margin-top: 15rem;
    }
  }
  .header-producto .barra {
    background-color: #000;
    padding: 2rem;
  }
  .header-producto .barra .logo__texto {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .header-producto .barra .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    height: 100%;
  }
  .header-producto .barra .menu .link {
    margin-right: 2rem;
  }
  .header-producto .barra .form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 0.2rem;
    background-color: #fff;
    width: 100%;
    height: 3rem;
  }
  .header-producto .barra .form input {
    border-radius: 1rem;
    width: 100%;
    border: none;
  }
  .header-producto .barra .form input:focus-visible {
    outline: none;
  }
  .header-producto .barra .form .btn-secundario {
    border: none;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .header-producto .barra {
      display: flex;
      justify-content: space-around;
    }
    .header-producto .barra .logo {
      padding: 1rem;
    }
  }
  
  .footer {
    background-color: #000;
  }
  .footer .barra {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
  }
  .footer .barra .logo__nombres {
    font-weight: normal;
    
  }
  .footer .barra .logo__bold {
    font-weight: 700;
  }
  .footer .barra .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
  }
  .footer .barra .menu .link {
    margin-right: 2rem;
  }
  @media (min-width: 768px) {
    .footer .barra {
      display: flex;
      justify-content: space-around;
    }
  }
  .footer .header__texto {
    margin-top: 5rem;
    color: #fff;
  }
  @media (min-width: 768px) {
    .footer .header__texto {
      margin-top: 15rem;
    }
  }
  
  .contenido-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 4rem;
  }
  .contenido-principal .producto {
    transition: all 0.5s ease-in-out;
  }
  .contenido-principal .producto:hover {
    transform: scale(1.1);
  }
  
  .contenido-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
  .contenido-grid .producto {
    transition: all 0.5s ease-in-out;
  }
  .contenido-grid .producto:hover {
    transform: scale(1.1);
  }
  
  .header-producto .logo-texto {
    margin-bottom: 1rem;
  }
  
 